# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.vscode
.history
.env
*.png
*.jpg
*.txt
error_logs


# it will exclude everything inside dir 'images' from ignoring (simply, these files wont be ignored)
# for all 'images' dirs --------- --------- ---------
# !*/images/*
# !*/images/*/*
# !*/images/**  # combination of above 2
# for specific 'images' dir --------- --------- ---------
# !backend/images/*
# !backend/images/*/*
# !backend/images/*/*.jpg
# combination of above 3
!backend/images/**

# !backend/1api's\ urls.txt
# !backend/1api's?urls.txt
# !"backend/api's urls.txt"
# !backend/api's\surls.txt
# !backend/some\ condns.txt

